<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolucion</title>
</head>
<body>
    <div id="Title">
        <h1>LABORATORIO DE REDES INDUSTRIALES</h1>
    </div>
    <div id="SubTitle1">
        <h2>Plataforma de devolución de equipos</h2>
    </div>
    <div><h4>Llenar los datos necesarios</h4></div>
    <div id="menu1">
        <form action="/devolucion" method="post">
            <table>
                <tr>
                    <td>
                        <label for="mail">Correo educativo</label>
                        <input type="text" name="mail" id="mail" placeholder="mail@epn.edu.ec">
                    </td>
                    <td>
                        <label for="dev_model">Modelo del equipo</label>
                        <input list="dev_model" name="dev_model">
                        <datalist id="dev_model">
                            <% for (let i=0;i<devices.length;i++){%>
                                <option value="<%=devices[i].Modelo%>">
                            <%}%>
                        </datalist>
                    </td>
                    <td>
                        <button type="submit">Consultar</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <%if ((data) && (state)){%>
        <div>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Direccion IP</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Accion</th>
                </tr>
    
                <%for (let i=0;i<data.length;i++){%>
                    <% if (data[i].Estado_prestamo == "Prestado"){%>
                    <tr>
                        <% const path = 'devolucion_hecha?_id=' + data[i]._id %>
                        <td><%= data[i].Nombre %></td>
                        <td><%=data[i].Modelo %></td>
                        <td><%=data[i].Direccion_IP %></td>
                        <td><%=data[i].Estado %></td>
                        <td><%=data[i].Fecha %></td>
                        <td><a href="<%= path%>">Devolver</a></td>
                    </tr>
                    <%}%>
                    
                <%}%>
            </table>
        </div>
        <div>
            <form action="/" method="get">
                <button type="submit">Regresar</button>
            </form> 
        </div>
        
    <%}else if(!(data) && (state)){%>
        <div>
            <h2>Objeto no encontrado</h2>
        </div>
        <div>
            <form action="/" method="get">
                <button type="submit">Regresar</button>
            </form>
        </div>
        
    <%}else{%>
        <div>
            <h2>Ingrese los datos</h2>
        </div>
        <div>
            <form action="/" method="get">
                <button type="submit">Regresar</button>
            </form>  
        </div>
    <%}%>
    <div></div>
</body>
</html>